# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Terraform variable files (sensitive)
*.tfvars
*.tfvars.json

# =========================
# Credentials / Secrets
# =========================
*.pem
*.key
*.pub
*.env

# =========================
# Java / Maven
# =========================
target/
*.class
*.jar
*.war
*.ear

# Eclipse / IntelliJ / VSCode
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / build folders
# =========================
temp_jar/
build/
dist/